@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body{
    background-color: #FAFAFA;
}

h1{
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    padding-left: 5px;
    color: black;
}

nav{
    display: flex;
    width: 100%;
    border-bottom: 5px solid red;
    background-color: #ffffff;
}

.nav-firts{
    display: flex;
    width: 50%;
    align-items: center;
}

.nav-firts img{
    height: 3rem;
    padding: 5px;
}

.nav-second{
    display: flex;
    width: 50%;
    align-items: center;
    padding-left: 5px;
}